body {
    
   
    margin-left: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: skyblue;

    
}



.heading h1, h2{
display: flex;
text-align: center;
color: navajowhite;
justify-content: center;
z-index: 1;

}

.hero > form {
    display: flex;
    justify-content: center;
    padding: 30px;
    
}


form > input {
    padding: 20px;
    border: whitesmoke solid 1px;
    border-radius: 50px;
    
}

form > button {
    background-color: transparent;
    border: white solid 3px;
    border-radius: 50px;
    margin: 10px;
}



.weather {
    margin-left: 100px;
    width: 300px;
    height: 50vh;
    border: solid 5px;
    border-radius: 50px;
    border-color: white;
    z-index: 0;
    position: relative;

}

p {
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 1;
    position: relative;
    color:whitesmoke;
 
}







.clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    
    background-size:cover;
    z-index: -1;


}

.cloud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(cloud.png);
    animation: animate 60s linear infinite;
}

@keyframes animate 
{
    0% 
    {
    background-position: 0px;
    }
    100% 
    {
    background-position: 1000px;
    }
}